<div    th:fragment="blog" class="container-xxl py-5">
  <div class="container">
    <div
            class="section-header text-center mx-auto mb-5 wow fadeInUp"
            data-wow-delay="0.1s"
            style="max-width: 500px"
    >
      <h1 class="display-5 mb-3">Thương Gửi Nàng Thơ Của Lumiskins</h1>
      <p>
        "Thần thái không đến từ chiếc váy hay màu son, nó toát ra khi nàng quyết định quan tâm đến vẻ ngoài của mình." (Jennifer L. Scott)
      </p>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <img class="img-fluid" th:src="@{img/layout6.jpg}" alt="" />
        <div class="bg-light p-4">
          <a class="d-block h5 lh-base mb-4" href="https://www.vinmec.com/vie/bai-viet/loi-song-anh-huong-toi-lan-da-the-nao-vi" target="_blank"
          >Từ Điển Sống Khỏe - Wellness</a
          >
          <div class="text-muted border-top pt-4">
            <small class="me-3"
            ><i class="fa fa-user text-red me-2"></i>Admin</small
            >
            <small class="me-3"
            ><i class="fa fa-calendar text-red me-2"></i>01 January,
              2025</small
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <img class="img-fluid" th:src="@{img/layout7.jpg}" alt="" />
        <div class="bg-light p-4">
          <a class="d-block h5 lh-base mb-4" href="https://www.vinmec.com/vie/bai-viet/huong-dan-su-dung-kem-duong-am-vi" target="_blank"
          >Dưỡng Ẩm Đúng Cách Cho Da</a
          >
          <div class="text-muted border-top pt-4">
            <small class="me-3"
            ><i class="fa fa-user text-red me-2"></i>Admin</small
            >
            <small class="me-3"
            ><i class="fa fa-calendar text-red me-2"></i>01 January,
              2025</small
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <img class="img-fluid" th:src="@{img/layout8.webp}" alt="" />
        <div class="bg-light p-4">
          <a class="d-block h5 lh-base mb-4" href="https://medlatec.vn/tin-tuc/5-tuyet-chieu-lam-dep-da-tu-nhien-cuc-don-gian-de-thuc-hien-s107-n20333" target="_blank"
          >Mẹo Làm Đẹp Cho Làn Da</a
          >
          <div class="text-muted border-top pt-4">
            <small class="me-3"
            ><i class="fa fa-user text-red me-2"></i>Admin</small
            >
            <small class="me-3"
            ><i class="fa fa-calendar text-red me-2"></i>01 January,
              2025</small
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>